name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Hello world action
      with: # Set the secret as an input
        super_secret: ${{ secrets.TEST }}
        run: echo TEST
      env: # Or as an environment variable
        super_secret: ${{ secrets.TEST }}
