name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Hello world action
      env:
        MY_VAR: Hi there! My name is
        FIRST_NAME: Mona
        MIDDLE_NAME: The
        LAST_NAME: Octocat
      run: |
        echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME.:  
    - name: Testing secret echo
      env: # Or as an environment variable
        super_secret: ${{ secrets.TEST }}
      run: |
        echo $super_secret
    - name: Testing secret comparison
      env: # Or as an environment variable
        super_secret2: ${{ secrets.TEST2 }}
      if: ${{ secrets.TEST2 }} == 'TEST' 
      run: echo The test password was checked as correct.       
