name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps: 
    - name: Testing secret echo
      env: # Or as an environment variable
        super_secret: ${{ secrets.TEST }}
      run: |
        echo $super_secret
    - uses: actions/checkout@master
    - uses: r-lib/actions/setup-r@v1
      with:
         r-version: '3.5.3' # The R version to download (if necessary) and use.
    - run: Rscript -e 'print("hello")'
      
